<div class="d-flex" id="wrapper">
    <!-- Contenido principal -->
    <div id="page-content-wrapper">
        <nav class="navbar" style="background: rgba(137, 43, 226, 0.722);">
            <div class="" style="margin-left: 30px; padding-top: 0px; padding-bottom: 0px;">
                <img src="../../../assets/img/Yavirac.png" class="img-fluid" alt="" width="80px" height="50px">
            </div>
            <!-- Botones para dispositivos grandes -->
            <div class="btn-group btn-group-toggle me-lg-auto me-md-auto ms-lg-3 d-flex" data-toggle="buttons">
                <label class="btn btn-secondary active" style="background: rgba(137, 43, 226, 0); border: none;">
                    <input type="radio" name="options" id="option1" autocomplete="off" checked style="display: none;">
                    <a href="##" style="text-decoration: none; color: white;">Books</a>
                </label>
                <label class="btn btn-secondary" style="margin-left: 20px; background: rgba(137, 43, 226, 0); border: none;">
                    <input type="radio" name="options" id="option2" autocomplete="off" style="display: none;">
                    <a href="##" style="text-decoration: none; color: white;">Autores</a>
                </label>
                <label class="btn btn-secondary" style="margin-left: 20px; background: rgba(137, 43, 226, 0); border: none;">
                    <input type="radio" name="options" id="option3" autocomplete="off" style="display: none;">
                    <a href="##" style="text-decoration: none; color: white;">Categorias</a>
                </label>
            </div> 
            <!-- Botón de menú para dispositivos móviles -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Opciones del menú para dispositivos móviles -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="btn-group btn-group-toggle me-auto" data-toggle="buttons">
                    <label class="btn btn-secondary active" style="background: rgba(137, 43, 226, 0); border: none;">
                        <input type="radio" name="options" id="option1" autocomplete="off" checked style="display: none;">
                        <a href="##" style="text-decoration: none; color: rgb(0, 0, 0);">Books</a>
                    </label>
                    <label class="btn btn-secondary" style="margin-left: 20px; background: rgba(137, 43, 226, 0); border: none;">
                        <input type="radio" name="options" id="option2" autocomplete="off" style="display: none;">
                        <a href="##" style="text-decoration: none; color: rgb(0, 0, 0);">Autores</a>
                    </label>
                    <label class="btn btn-secondary" style="margin-left: 20px; background: rgba(137, 43, 226, 0); border: none;">
                        <input type="radio" name="options" id="option3" autocomplete="off" style="display: none;">
                        <a href="##" style="text-decoration: none; color: rgb(0, 0, 0);">Categorias</a>
                    </label>
                </div>
            </div>
        </nav>
    </div>

    <!-- Barra lateral -->
    <div class="collapse" id="sidebar-wrapper" style="background: rgba(137, 43, 226, 0.553); text-align: center;">
        <label class="btn btn-secondary" style="margin: 10px 0; background: rgba(137, 43, 226, 0); border: none; width: 100%;">
            <input type="radio" name="options" id="option1" autocomplete="off" style="display: none;">
            <a href="#" style="text-decoration: none; color: white;">Opción 1</a>
        </label>
        <label class="btn btn-secondary" style="margin: 10px 0; background: rgba(137, 43, 226, 0); border: none; width: 100%;">
            <input type="radio" name="options" id="option2" autocomplete="off" style="display: none;">
            <a href="#" style="text-decoration: none; color: white;">Opción 2</a>
        </label>
        <label class="btn btn-secondary" style="margin: 10px 0; background: rgba(137, 43, 226, 0); border: none; width: 100%;">
            <input type="radio" name="options" id="option3" autocomplete="off" style="display: none;">
            <a href="#" style="text-decoration: none; color: white;">Opción 3</a>
        </label>
    </div>
</div>
