<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" 
  style="background: #563d7c; padding-top: 800px; ">
  <div class="col-md-4 d-flex align-items-center" >
    <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
      <svg class="bi" width="30" height="24">
        <use xlink:href="#bootstrap"></use>
      </svg>
    </a>
    <span class="mb-3 mb-md-0" style="color: rgb(255, 255, 255); " >© 2023 Company, Yavirac</span>
  </div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a class="text-muted" href="https://www.facebook.com/yavirac.edu.ec/?locale=es_LA">
        <i class="fab fa-facebook fa-lg fa-4x" style="color: white"></i>
      </a></li>
      <li class="ms-3"><a class="text-muted" href="https://twitter.com/i/flow/login?redirect_after_login=%2Fsuperioryavirac">
        <i class="fab fa-twitter fa-4x" style="color: white"></i>
      </a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/superiortecnologicoyavirac/?hl=es">
        <i class="fab fa-instagram fa-4x" style="color: white"></i>
      </a></li>
  </ul>
</footer>