<div class="container-fluid">

    <app-sidebar></app-sidebar>

    <div class="row">
        <div class="col-md-12">
            <!-- Ajustes en el código de la imagen -->
            
        </div>
        <div class="p-4">
            <h2>Biblioteca Yavirac</h2>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
       
        
        
    </div>
    <div class="row">
        <div class="display" style="padding-top: 800px;">
            <app-footer></app-footer>
        </div>
    </div>
</div>
