<div class="container-fluid">
    <app-sidebar></app-sidebar>

    <div class="row">
        <div class="p-5 d-flex justify-content-between align-items-center">
            <h1><b>Terminos y Condiciones</b></h1>
            <a href="##" style="text-decoration: none; color: white;"><i class="fas fa-file-contract fa-lg fa-9x"
                    style="color: #563d7c; margin-right: 30px;"></i></a>
        </div>
        <div class="col-md-12">
            <hr>
        </div>
        <div class="col-md-12 p-1 d-flex justify-content-center align-items-center">
            <div>
                <p>
                   <b> Términos y Condiciones para Trabajadores de la Biblioteca:</b>
                </p>
                <ul>
                    <li>Los trabajadores deben cumplir con horarios establecidos.</li>
                    <li>Es obligatorio el respeto y la cortesía hacia los usuarios.</li>
                    <li>Se espera que los trabajadores mantengan un ambiente de trabajo limpio y ordenado.</li>
                    <li>La confidencialidad de la información de los usuarios y la biblioteca es esencial.</li>
                    <li>Los trabajadores deben participar en capacitaciones y actualizaciones periódicas.</li>
                    <li>El uso de dispositivos móviles debe limitarse durante el tiempo de trabajo.</li>
                    <li>Se prohíbe el consumo de alimentos y bebidas en áreas no designadas.</li>
                    <li>Es responsabilidad de los trabajadores informar cualquier problema o incidente al supervisor.</li>
                    <li>El incumplimiento de estos términos puede resultar en acciones disciplinarias.</li>
                </ul>
                <p>
                    <b>Estos términos y condiciones están sujetos a cambios sin previo aviso.</b>
                </p>
            </div>
        </div>

        <div class="footer">
            <app-footer></app-footer>
        </div>
    </div>
</div>
